debug: false

logging:
  level:
    com.sparta.doing: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

spring:
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:mysql://${DB_URL}:3306/${DB_DATABASE}
    username: ${DB_UESRNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true
        check_nullability: true
    defer-datasource-initialization: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

# HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
# Secret 값은 특정 문자열을 Base64 로 인코딩한 값 사용
# 아래 값을 Base64로 인코딩함
# spring-boot-security-jwt-innovationcamp-week6-doing-team6-chanho-secret-key
jwt:
  secret: ${JWT_SECRETKEY}
  header: ${JWT_HEADER}
  # 리프레쉬 토큰 유효기간 2시간
  access-token-lifetime-in-seconds: 7200
  # 리프레쉬 토큰 유효기간 3시간
  refresh-token-lifetime-in-seconds: 10800

cloud:
  aws:
    s3:
      bucket: ${AWS_BUCKET}
    region:
      static: ap-northeast-2
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
      use-default-aws-credentials-chain: false
      instance-profile: true
    stack:
      auto: false